.course-card {
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Navbar styles */
.navbar {
    background-color: #000000; /* Deep black background color */
    padding: 1.5rem 0; /* Increased padding for larger navbar */
}

.navbar a {
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #ffffff;
}

.navbar ul li:not(:last-child) {
    margin-right: 2rem; /* Increased spacing between nav items */
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar {
        padding: 1rem 0; /* Adjusted padding for smaller screens */
    }

    .navbar a {
        font-size: 1.2rem; /* Decreased font size for smaller screens */
    }
}